* {
    box-sizing: border-box;
    text-align: center;
}

.lamps-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 40px auto;
}

.lamp-div {
    border: 2px solid darkblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    width: 130px;
}

.lamps-container .watts {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.lamp-div img {
    height: 50px;
    width: auto;
}
